{% extends "template.html" %}

{% block page_content %}

<div class = "paragraph">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.MKVen0Y3YekTwEqeqbATRwHaE7%26pid%3DApi&f=1">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fspectatorlife.imgix.net%2Fcontent%2Fuploads%2F2017%2F11%2FiStock-492600331.jpg%3Fauto%3Dcompress%2Cenhance%2Cformat%26crop%3Dfaces%2Centropy%2Cedges%26fit%3Dcrop%26w%3D900%26h%3D600&f=1&nofb=1">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.gifer.com%2FhNQ.gif&f=1&nofb=1">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Farysports.tv%2Fwp-content%2Fuploads%2F2018%2F08%2F150608232757-21-women-world-cup-0608-restricted-super-169.jpg&f=1&nofb=1">
  <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fas01.epimg.net%2Ffutbol%2Fimagenes%2F2018%2F06%2F01%2Fmundial%2F1527836817_858951_1527837080_noticia_normal.jpg&f=1&nofb=1">
  <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fs3.amazonaws.com%2Fbr-cdn%2Ftemp_images%2F2013%2F11%2F09%2FChelseaPen.gif&f=1&nofb=1">
  <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.citydadsgroup.com%2Fwp-content%2Fuploads%2F2014%2F08%2FFootballers-Faking-Injury.jpg&f=1&nofb=1">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FEjvOqyOs3XU%2Fhqdefault.jpg&f=1&nofb=1">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F3o6ZtkyARWBkcouK76%2Fgiphy.gif&f=1&nofb=1">
  <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn1-www.mandatory.com%2Fassets%2Fuploads%2F2014%2F06%2Fman_file_1052383_Screen%2BShot%2B2014-06-12%2Bat%2B3.34.38%2BPM.png&f=1&nofb=1">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2FKmEfFzFcgQFIk%2Fgiphy.gif&f=1&nofb=1">
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.funrare.com%2Fwp-content%2Fuploads%2F2018%2F06%2Ffootball-fail-gifs-08.gif&f=1&nofb=1">
  <a href="/">back to the front page</a>
</div>

{% endblock %}
