{% extends "template.html" %}

{% block page_content %}

  <div class = "paragraph">
    <p>
      We understand that you think something may be wrong with our website, but it is just an illusion.
      Our website actually works quite perfect. <a href="/">Back to front page</a>
      <br>
      <br>
      Premier League Ticketmaster
  </div>

{% endblock %}
